---
import { FaArrowRight } from "react-icons/fa6";
import { buttonVariants } from "./ui/button";
---

<section
  class="relative w-full h-dvh flex flex-col items-center overflow-hidden"
>
  <div
    class="w-full h-full flex flex-col items-center justify-center gap-6 md:max-w-5xl"
  >
    <h1
      class="text-pretty flex flex-col items-center text-5xl md:text-6xl text-center z-10 font-semibold text-gray-800"
    >
      Consulta y Descubre las Stats de Tu Perfil de Instagram
    </h1>
    <p class="text-gray-600 text-center">
      Conoce toda la información de tu cuenta de instagram en un solo lugar
    </p>

    <div class="flex justify-center flex-wrap">
      <a
        href="/stats"
        class={buttonVariants({
          variant: "default",
          size: "lg",
          className: "cursor-pointer gap-2",
        })}
      >
        Ver Stats
        <FaArrowRight />
      </a>

      <a
        href="/#tutorial-insta-data"
        class={buttonVariants({
          variant: "link",
          size: "lg",
          className: "cursor-pointer",
        })}
      >
        Conseguir tus datos
      </a>
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1723836307">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>
</section>
<style scoped="true">
  .custom-shape-divider-bottom-1723836307 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1723836307 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
  }

  .custom-shape-divider-bottom-1723836307 .shape-fill {
    fill: #020817;
  }
</style>
